.TIContainer{
    padding: 0;
    min-height: 100vh;
}

.TIHeader{
    background-color: brown;
    color: white;
    padding: 10px;
    margin: 0;
}

.TIListHeader{
    display: flex;
    align-items: center;
    background-color: rgb(30,30,30);;
    color: white;
    margin: 30px 20px 10px 20px;
    height: 45px;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.TIList{
    padding-bottom: 10px;
}

.TIChars{
    width:25%
}

.TIDates{
    width: 20%;
}

.TIStatus{
    width: 10%;
}

.TISearchBtn{
    display: flex;
    align-items: center;
    background-color: rgb(30,30,30);
    color: white;
    font-weight: 500;
    margin: 20px 0 10px 0;
    width: fit-content;
    padding: 5px 10px;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height: 40px;
}

.TISearchContainer{
    display: flex;
    justify-content: space-between;
}

.TISearch{
    background-color: white;
    color: black;
    height: 40px;
    width: 300px;
    margin: 20px 0 0 0;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.TISelect{
    width: 250px;
    margin: 20px 0 0 0;
}
